:root {
    --DarkBlue: hsl(212, 98%, 16%);
    --Blue: hsl(191, 99%, 40%);
    --LightBlue: hsl(189, 100%, 88%);
    --Purple: hsl(287, 100%, 31%);
    --LightPurple:hsl(255, 100%, 88%);
    --LightPink: hsl(286, 100%, 93%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--DarkBlue);
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1rem;
}
